*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*App main*/
.App{
  width:100%;
  height: 100vh;

}

/*Header*/

.main__header{
  width: 100%;
  height: 70px;
  background-color: rgba(136, 181, 194, 0.382);
}

.header-container{
  width: 100%;
  height:100%;
}

.header-list-container{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*tittle queveo*/
.header-title{
  font-family: Bungee Shade, cursive;
  font-size: 25px;
  color: rgb(32, 116, 122);
}