/*main*/

.main__programas{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: rgba(32, 116, 122, 0.105);
}

/*main programa*/
.programa-peli{
    width: 50%;
    height: 100%;
    padding: 5px;
}

.programa-peli video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}